body {
    min-width: 630px;
 }
 
 .container {
    padding-left: 200px;
    padding-right: 190px;
 }
 
 .container .column {
    position: relative;
    float: left;
 }
 
 .center {
    padding: 10px 20px;
    width: 100%;
 }
 
 .left {
    width: 180px;
    padding: 0 10px;
    right: 240px;
    margin-left: -100%;
 }
 
 .footer {
    clear: both;
 }
 .container {
    overflow: hidden;
 }
 .container .column {
    padding-bottom: 1001em;
    margin-bottom: -1000em;
 }
 
 .footer-wrapper {
    float: left;
    position: relative;
    width: 100%;
    background: #fff;
 }
 body {
    margin: 0;
    padding: 0;
    font-family:Sans-serif;
    line-height: 1.5em;
 }
 p {
    color: #555;
 }
 nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
 }
 nav ul a {
    color: green;
    text-decoration: none;
 }
 .header, .footer {
    font-size: large;
    padding: 0.3em;
    background: #BCCE98;
 }
 
 .left {
    background: #DAE9BC;
 }
 .right {
    background: #F7FDEB;
 }
 .center {
    background: #fff;
 }
 .container .column {
    padding-top: 1em;
 }
 
 #p1 {
   font-family: 'Times New Roman', Times, serif;
   font-size:24px;
   color: red;
 }

 #p2 {
   font-family: 'Times New Roman', Times, serif;
   font-style: italic;
   font-size:64px;
   color: blue;
 }

 #p3 {
   font-family: 'Times New Roman', Times, serif;
   text-align: right;
   font-size:24px;
   color: green;
 }

 #p4 {
   font-family: 'Times New Roman', Times, serif;
   font-style: italic;
   font-size:24px;
   color: blue;
 }

 #p5 {
   font-family: 'Times New Roman', Times, serif;
   font-variant: small-caps;
   font-size:36px;
   color: red;
 }

 #p6 {
   font-family: 'Times New Roman', Times, serif;
   font-weight: bold;
   font-size:24px;
   color: red;
 }
 
 table {
   border-collapse: collapse; /*убираем пустые промежутки между ячейками*/
   border: 1px solid black; /*устанавливаем для таблицы внешнюю границу серого цвета толщиной 1px*/
   font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
   font-size: 16px;
   background: white;
   max-width: 70%;
   width: 70%;
   text-align: center;
}

#tr1{
   font-weight: bold;
   color: white;
   background-color: gray;
}

.wrapper {
	margin: 40px;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

form {
	background: #FFFFFF;
	min-width: 640px;
}

.form-top {
	padding: 30px 25px 0 25px;	
	border: 2px solid #E1E5E6;
	border-radius: 5px
}

.form-bottom {
	margin-top: 10px;
	background: #E3E3E3;
	padding: 15px 0;
	border-radius: 10px;
}

.form-bottom input {
	padding: 10px 0;
	background: -webkit-linear-gradient(266deg, rgba(0,225,0,1) 0%, rgba(0,143,0,1) 100%);
	background: -o-linear-gradient(266deg, rgba(0,225,0,1) 0%, rgba(0,143,0,1) 100%);
	background: linear-gradient(356deg, rgba(0,225,0,1) 0%, rgba(0,143,0,1) 100%);
	color: #FFFFFF;
	border: none;
	border-radius: 30px;
	margin-left: 150px;
	cursor: pointer;
	font-size: 1.2em;
}

input {
	width: 250px;
}

.data1, .data2, .data3 {
	width: 380px;
	margin-bottom: 40px;
}

.data3 {
	margin: 0;
}

.data1_1,
.data1_2,
.data1_3,
.data2_1,
.data2_2,
.data2_3{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	margin-bottom: 10px;
	align-items: center;
	position: relative;
}



.required {
	display: inline-block;
	height: 20px;
	width: 20px;
	position: absolute;
	right: -24px;
	background: url(https://loading.io/s/icon/jxjyiv.svg) 0 0 no-repeat;
}

.wrong-captcha {
	display: inline-block;
	position: absolute;
	color: #D42929;
	font-weight: 700;
	right: -197px;
	top: 18px;
}

input[required]:valid + label,
.data3_2 input[required]:valid ~ label {
	background: url(https://upload.wikimedia.org/wikipedia/commons/0/0d/Google_Material_Design_check.svg) 0 0 no-repeat;
}

.data3_2 input[required]:valid ~ span {
	display: none;
}